body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    background-color: #000000;
    color:#ffffff
}

h1 {
    font-size: 35px; 
    font-weight: bold;
}
h2 {
    font-size: 15px;
    font-weight: normal;
}
h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px
}
h4 {
    font-size: 20px; 
    font-weight: bold;
}
.underline {
    border-bottom: 1px solid #ffffff; 
    width: 65%; 
    margin: 15px auto; 
}

.description{
    position: relative;
    font-size: 18px;

}